* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: sans-serif;
  text-shadow: 0 0 5px black;
}

.container {
  background: linear-gradient(90deg, #f232ba, #fa2232);
  width: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  user-select: none;
}

.container h1 {
  font-size: 30px;
  padding: 10px;
}

form .colorSelector .colorPickers {
  width: 100px;
  padding: 0;
  margin: 10px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

form .colorSelector .colorPickers:hover {
  background-color: rgb(200, 200, 200);
  transition: 0.3s ease;
}

form .typeSelector {
  display: flex;
  justify-content: space-evenly;
}

form .typeSelector h3 {
  color: rgb(255, 219, 59)
}

form .typeSelector select {
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

form .typeSelector select:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

form .gradientOptions {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 10px;
}

form .gradientOptions .slider-track {
  width: 100%;
  height: 5px;
  margin: auto;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
}

form .gradientOptions .sliders[type="range"] {
  appearance: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

form .gradientOptions .sliders[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background-color: #1E90FF;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
  transition: 0.3s ease;
}

form .gradientOptions .sliders[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.20);
  transition: 0.3s ease;
}

form .btn {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #1E90FF;
  border-radius: 10px;
  text-shadow: 0 0px 5px black;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  padding: 10px 0;
  transition: 0.3s ease;
}

form .btn:hover {
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  transform: scale(1.05);
}
form .btn:active {
  transform: scale(0.95);
}

.container .guide {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.container .github {
  text-decoration: none;
  text-shadow: 0 0 5px black;
  color: #fff;
  font-size: 22px;
  font-family: sans-serif;
  margin: 10px 0;
  transition: 0.3s ease;
}

.container .github i {
  margin: 0 5px;
}

.container .github:hover {
  color: rgb(200, 200, 200);
  transition: 0.3s ease;
}

#message {
  color: cyan;
  font-size: 16px;
  text-shadow: 0 0 5px black;
  cursor: pointer;
  transition: 0.3s ease;
}

#message:hover {
  transition: 0.3s ease;
  color: rgb(0, 170, 255);
}